<a href="https://colab.research.google.com/github/Br3ndo0n/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
if 5 < 2:
 print(yes)

In [5]:
x ="sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)

sally
0
1
2

In [7]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

In [8]:
#y = "Ana"
#print(y)

y ="Ana"
print(y)

Ana

**Multiple Variables with One Value**

In [9]:
#x = "Tony"
k=l=m="Tony"
print(k)
print(l)
print(m)
print(k,l,m)

Tony
Tony
Tony
Tony Tony Tony

In [13]:
print("Python Programming is fun")

h = "fun"
p = ("Python programming is "+ h)
print(p+" "+h)

Python Programming is fun
Python programming is fun fun

**Arithmetic Operations**

In [15]:
print(c+d) #c=2, d=4
print(d-c)
print(d*c)
print(d/c)
print(d%c)

6
2
8
2.0
0

**Assignment Operators**

In [16]:
q=10
print(q+5)

print(q)

15
10

**Boolean Logic**

In [17]:
s = 10
print(s^2)
print(s|2)

8
10

**Comparison Operators**

In [19]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

**Logical Operators**

In [20]:
s>q and s==s
s>q or s==s

print(s>q and s==s)
print(s>q or s==s)

False
True

**Identity Operators**

In [21]:
s is q 
print(s is not q)

False

**Bitwise Operator Shift Right**

In [22]:
u = 2
print(u<<1)

4