<a href="https://colab.research.google.com/github/Br3ndo0n/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Boolean Operators**

In [26]:
a = 7
b = 6

print(10>9)
print(10<9)

True
False

**Bool () function**

In [27]:
#if true
print(bool("Brendon"))
print(bool(1))

#if false
print(bool(0))
print(bool(False))

True
True
False
False

**Functions can return to Boolean**

In [28]:
def my_Function():
  return True   

print (my_Function())

True

In [29]:
if my_Function():
   print ("True")
else:
   print ("False")

True

**Python Operators**

In [30]:
print(15+5)
print(15-5)
print(15/3)
print(15*5)
print(15%5)
print(15/3)
print(15**5)

20
10
5.0
75
0
5.0
759375

**Bitwise Operators**

In [31]:
c = 60 #Binary 0011 1100
d = 13 #Binary 0000 1101

c&d
print(c|d)
print(c^d)
print(d<<2)

61
49
52

**Logical Operators**

In [32]:
h = True
g = False
h and g 
h or g
not (h or g)

False

**Application 2**

In [33]:
x = 100
x += 3 #Same as x = x + 3, x = 100 + 3 = 103
print(x)

103

**Identity Operators**

In [34]:
h is 1
h is not 1

True

#Control Structure

**If Statement**

In [35]:
if a>b:
  print("a is greater than b")

a is greater than b

**Elif Statement**

In [36]:
if a>b:
  print("a is greater than b")
elif a<b:
  print("a is lesser than b")

a is greater than b

**Else Statement**

In [37]:
a = 10
b = 10

if a>b:
  print("a is greater than b")
elif a<b:
  print("a is lesser than b")
else:
  print("a is equal to b")

a is equal to b

**Short Hand If Statement**

In [39]:
if a==b: print("a is equal to b")

a is equal to b

**Short hand if...else statement**

In [40]:
a = 10 
b = 9
print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

**And**

In [43]:
if a<b and b==b:
  print("both conditions are True")

**Or**

In [44]:
if a<b and b==b:
  print("The Condition is True")

**Nested If Statement**

In [49]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("x is above 20")
    if x>30:
      print("x is above 30")
      if x>40:
        print("x is above 40")
        if x>50:
          print("x is above 50")
        else:
            print("but not above 50")

30
x is above 10
x is above 20

**For Loop Statement**

In [50]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

**The Break Statement**

In [51]:
#to display only Friday using break statement

for x in week:
  if x == "Friday":
    break
print(x)

Friday

**While Statement**

In [52]:
i =1
while i < 6:
  print(i)
  i += 1 #same as i = i + 1

1
2
3
4
5

**Application 3: Create a Program that displays no.3 using break statement**

In [58]:
i = 1
while i < 6:
    if i==3:
      break
    i += 1
print(i)

3